* {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.navbar {
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightskyblue;
  position: fixed;
  top: 0;
  width: 100%;
}

.aboutNav:hover {
  background: lightcoral;
}

.experienceNav:hover {
  background: lightgoldenrodyellow;
}

.projectNav:hover {
  background: lightgreen;
}

.contactNav:hover {
  background: lightsalmon;
}

.main {
  display: grid;
  margin: 60px;
}

.contact {
  padding: 16px;
  margin-top: 45px;
}

.introduction {
  height: 600px;
  border: 0.5px dashed lightskyblue;
  border-radius: 0px 20px 0px 20px;
  margin: 60px;
  padding: 50px;
  color: black;
  display: grid;
  grid-template-rows: 15% 55% 30%; 
}

.introduction-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightskyblue;
  background-color: lightskyblue;
  color: black;
}

.intro-image {
  height: auto;
  width: 50%;
}

.story-photo {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-column-gap: 20%;
}

.about {
  height: 600px;
  border: 0.5px dashed lightcoral;
  border-radius: 0px 20px 0px 20px;
  margin: 60px;
  padding: 50px;
  display: grid;
  grid-template-rows: 15% 25% 20% 20% 20%; 
}

.about-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightcoral;
  background-color: lightcoral;
  color: black;
}

.about img {
  height: 50%;
  width: auto;
}

.flatiron-projects {
  display: grid;
  grid-template-columns: 33% 34% 33%;
}

.flatiron-projects img {
  height: 100%;
  width: auto;
}

.experience {
  height: 600px;
  border: 0.5px dashed goldenrod;
  border-radius: 0px 20px 0px 20px;
  margin: 60px;
  padding: 50px;
  color: black;
  display: grid;
  grid-template-rows: 15% 20% 25% 20% 20%; 
}

.experience-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgoldenrodyellow;
  background-color: lightgoldenrodyellow;
  color: black;
}

.colleges {
  display: grid;
  grid-template-columns: 50% 50%;
}
.colleges img {
  height: 150px;
  width: auto;
}

.project {
  height: 600px;
  border: 0.5px dashed lightgreen;
  border-radius: 0px 20px 0px 20px;
  margin: 60px;
  padding: 50px;
  color: black;
  display: grid;
  grid-template-rows: 15% 20% 20% 20% 20% 5%; 
}

.project-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgreen;
  background-color: lightgreen;
  color: black;
}

.project-links {
  display:flex; 
  justify-content: space-evenly;
  align-items: center;
}

.contact {
  height: 600px;
  border: 0.5px dashed lightsalmon;
  border-radius: 0px 20px 0px 20px;
  margin: 60px;
  padding: 50px;
  color: black;
  display: grid;
  grid-template-rows: 15% 20% 20% 20% 25%; 
}

.contact-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightsalmon;
  background-color: lightsalmon;
  color: black;
}

.contact-images {
  height: 50%;
  width: auto;
}

.contact-images:hover {
  opacity: 0.10;
}