* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color:red;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar p {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  display: grid;
  margin: 60px;
}

.contact {
  padding: 16px;
  margin-top: 45px;
}

.introduction {
  height: 600px;
  border: 2px solid blue;
  border-style: ridge;
  border-radius: 0px 0px 0px 20px;
  margin: 60px;
  padding: 50px;
  background-color: blue;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about {
  height: 600px;
  border: 2px solid yellow;
  border-style: ridge;
  border-radius: 0px 0px 0px 20px;
  margin: 60px;
  padding: 50px;
  background-color:yellow;
  color: black;
}

.experience {
  height: 600px;
  border: 2px solid red;
  border-style: ridge;
  border-radius: 0px 0px 0px 20px;
  margin: 60px;
  padding: 50px;
  background-color: red;
  color: white;
}

.project {
  height: 600px;
  border: 2px solid green;
  border-style: ridge;
  border-radius: 0px 0px 0px 20px;
  margin: 60px;
  padding: 50px;
  background-color:green;
  color: white;
}

.contact {
  height: 600px;
  border: 2px solid orange;
  border-style: ridge;
  border-radius: 0px 0px 0px 20px;
  margin: 60px;
  padding: 50px;
  background-color: orange;
  color: white;
}

.project {
  padding: 16px;
  margin-top: 45px;
}

.contact-images {
  length: 45px;
  width: 45px;
}

.intro-image {
  height: auto;
  width: 30%;
}