* {
    font-family: fantasy;
}

.navbar {
  overflow: hidden;
  background-color:red;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar p {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  display: grid;
  margin: 60px;
}

.contact {
  padding: 16px;
  margin-top: 45px;
}

.introduction {
  height: 600px;
  border: 2px solid blue;
  border-style: ridge;
  border-radius: 0px 20px 0px 20px;
  margin: 60px;
  padding: 50px;
  background-color: blue;
  color: white;
  display: grid;
  grid-template-rows: 30% 50% 20%; 
}

.intro-image {
  height: auto;
  width: 50%;
}

.story-photo {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-column-gap: 20%;
}

.about {
  height: 600px;
  border: 2px solid yellow;
  border-style: ridge;
  border-radius: 0px 20px 0px 20px;
  margin: 60px;
  padding: 50px;
  background-color:yellow;
  color: black;
  display: grid;
  grid-template-rows: 20% 20% 20% 20% 20%; 
}

.about img {
  height: 50%;
  width: auto;
}

.flatiron-projects {
  display: grid;
  grid-template-columns: 33% 34% 33%;
}

.flatiron-projects img {
  height: 100%;
  width: auto;
}

.experience {
  height: 600px;
  border: 2px solid red;
  border-style: ridge;
  border-radius: 0px 20px 0px 20px;
  margin: 60px;
  padding: 50px;
  background-color: red;
  color: white;
}
.colleges {
  display: grid;
  grid-template-columns: 50% 50%;
}
.colleges img {
  height: 150px;
  width: auto;
}

.project {
  height: 600px;
  border: 2px solid green;
  border-style: ridge;
  border-radius: 0px 20px 0px 20px;
  margin: 60px;
  padding: 50px;
  background-color:green;
  color: white;
}

.contact {
  height: 600px;
  border: 2px solid orange;
  border-style: ridge;
  border-radius: 0px 20px 0px 20px;
  margin: 60px;
  padding: 50px;
  background-color: orange;
  color: white;
  display: grid;
  grid-template-rows: 20% 20% 20% 20% 20%; 
}

.contact-images {
  height: 50%;
  width: auto;
}

.contact-images:hover {
  opacity: 0.5;
}

.project {
  padding: 16px;
  margin-top: 45px;
}